/*header开始*/
header{
    height: 100px;
    display: flex;
}

header #menu{
    flex-grow: 1;
    margin:20px;
    background: white;
}
header #menu{
    width: 40px;
    height: 25px;
    position: relative;
}
header span {
    font-size: 5px;
    position: absolute;
    top: 25px;
    left: 0;
}
header #menu #sec_menu{
    background: black;
    width: 270px;
    height: 662px;
    position: absolute;
    top:-33px;
    left: -33px;
    display: none;
}
header #menu #sec_menu li{
    width: 250px;
    height: 47px;
    padding-left: 20px;
    font-size: 14px;
    cursor: pointer;
    line-height: 47px;
}
header #menu #sec_menu span{
    display: block;
    position: absolute;
    right: 5px;
}
header #menu #f_list a,
header #menu #s_list li:hover,
header #menu #s_list li a:hover{
    color: #b89f7a;
}
header #menu #s_list li,
header #menu #s_list li a,
header #menu #f_list a:hover{
    color: white;
}

header #index_logo{
    height: 100px;
    flex-grow: 1;
}
header #index_logo img{
    width: 73px;
    height: 73px;
    margin-left: 30%;
}
header #right_part{
    flex-grow:1;
    text-align: right;
    margin-top: 25px;
}

#right_part a{
    color: #b89f7a;
}
@media(max-width:699px ){
    header #right_part{
        font-size: 12px;
        width: 33%;
    }

}
/*header开始*/

/*figure开始*/
figure{
    display: block;
}
figure span{
    display: block;
    width: 30px;
    height: 20px;
    background: black;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    position: absolute;
    right: 20px;
    top: 120px;
}
figure #Small_ad{
    display: none;
    width: 100%;
}
figure #Big_ad{
    width: 100%;
    margin: 0 auto;
    display: block;
}

@media(max-width: 999px){
    figure #Big_ad{
        display: none;
    }
    figure #Small_ad{
        display: block;
    }
}
                /*中间图片的等比例缩小*/
/*figure结束*/

/*mes开始*/
/*#mes{*/
    /*width: 100%;*/
    /*height: 220px;*/
    /*background: #000;*/
    /*margin: 0 auto;*/
/*}*/
/*#mes #left{*/
    /*width: 48%;*/
    /*height: 220px;*/
    /*background: #00ff00;*/
    /*float: left;*/
    /*position: absolute;*/
    /*color: white;*/
/*}*/

/*#mes #left img {*/
    /*width: 160px;*/
    /*height: 39px;*/
    /*position: absolute;*/
    /*right: 140px;*/
    /*top: 110px;*/
/*}*/
/*#mes #left  span{*/
    /*position: absolute;*/
    /*right: 252px;*/
    /*top:82px;*/
/*}*/
/*#mes #right {*/
    /*width: 52%;*/
    /*height: 220px;*/
    /*background: #cccccc;*/
    /*!*color:white;*!*/
    /*float: right;*/
    /*position: relative;*/
/*}*/

/*#mes #right h2{*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 50px;*/
/*}*/
/*#mes #right h5{*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 80px;*/
/*}*/

/*#mes #right ul{*/
    /*position: absolute;*/
    /*top: 116px;*/
/*}*/
/*#mes #right li{*/
    /*width: 114px;*/
    /*height: 50px;*/
    /*border: 2px solid #b89f7a;*/
    /*float: left;*/
    /*margin-right: 10px;*/
    /*line-height: 50px;*/
    /*text-align: center;*/
/*}*/
/*#mes #right li a{*/
    /*color: #b89f7a;*/
/*}*/
/*#mes #right ul #last{*/
    /*border: 2px solid black;*/
/*}*/
#mes{
    width: 100%;
    height: 200px;
    background: black;
    display: flex;
}
#mes #mid{
    flex-grow:3;
}
#mes #left{
    flex-grow:1;
    /*width: 50%;*/
    /*background-color: red;*/
    padding-top: 80px;
    /*padding-bottom:80px;*/
    color: white;

}
#mes #left span{
    display: block;
    width: 100%;
}
#mes #right{
    /*width: 50%;*/
    flex-grow:3;
    /*background: green;*/
    padding-top: 60px;
    color: white;
}

#mes #right li{
    float: left;
    border:2px solid #b89f7a;
    padding: 5px;
    margin: 5px;
}
#mes #right li:nth-child(3){
    border:2px solid #000;
}
#mes #right li a{
    color: #b89f7a;
}
@media(max-width: 750px){
    #mes {
        width: 100%;
        height: 460px;
        background: black;
        position: relative;
    }
    #mes #left{
        width: 100%;
        height: 100px;
        text-align: center;
        padding-top:60px;
    }
    #mes #right{
        position: absolute;
        top:180px;
        width: 100%;
        height: 200px;
        text-align: center;
        color: white;
        padding-top:0;
    }
    #mes #right p{
        margin-top: 20px;
    }
    #mes #right li{
        float: none;
    }
    #mes #right #last{
        border: 2px solid black;
        width: 100px;
        position: absolute;
        bottom: -50px;
        right: 5px;
    }
}
/*mes结束*/

