<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <ul>
        <!--<li v-for="(school,index) in schools">{{school}}—{{index}}</li>-->
        <!--第一位是值，第二位是索引-->
    </ul>

    <ul>
        <!--<li v-for="(val,key,index) in obj">{{val}}&#45;&#45;&#45;&#45;{{key}}&#45;&#45;&#45;&#45;{{index}}</li>-->
        <!--//根据顺序取值，第一位：属性值，第二位：属性名，第三名：索引  名字随便起-->
    </ul>

    <ul>
        <li v-for="(val,key,index) in arr">{{val}}----{{key}}----{{index}}</li>
        <!--//根据顺序取值，第一位：属性值，第二位：属性名，第三名：索引  名字随便起-->
    </ul>
    <ul>
        <li v-for="obj in arrSort">
            <div v-for= "(val, key) in obj">{{val}} -- {{key}}</div>
        </li>
    </ul>

</div>
<script src="vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            schools: ['林大', '黑大', '理工'],

            obj: {
                name: 'zs',
                age: '18',
                company: 'wchuang'
            },
            arr: [
                {
                    name: 'ls',
                    age: 18,
                },
                {
                    name: 'mo',
                    age: 24,
                },
                {
                    name: 'hp',
                    age: 16,
                }
            ],
            computed: {//计算属性
                arrSort(){//它还是一个属性,不能上边同名
                    return this.arr.sort(function (a, b) {
                            return a.age - b.age;
                        });
                }
            }
        }
    })
</script>
</body>
</html>